body{
    background-color: cyan;
}

h1{
    size: 1rem;
    font-family:'Courier New', Courier, monospace;
}

article{
    display: flex;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

.font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#videogames{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.5rem;
}

#coding{
    font-family: cursive;
}

